.balance_number {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.container_card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: .5rem;
}